<div id="credits">
  <div><%= t('photograph', {:name => t("collections.credits.photograph.#{collection}")}) %></div>
  <div><%= t('models', {:names => t("collections.credits.models.#{collection}")}) %></div>
</div>