<h2><%= t('menu.collections') %></h2>
<div id="collections">
  <% %w{fall2010 feather_necklaces fur fur_necklace white_feather haute_couture fur_earrings blue christmas}.each do |token| %>
    <% collection = t("collections.index.#{token}") %>
    <% class_names = [] %>
    <% class_names << 'horizontal' if t("collections.orientation.#{token}") == 'h' %>
    
    <div class="collection-thumb">
      <% link_to collections_show_path(:name => token), {:title => collection, :class => 'boxgrid captionfull'} do %>
        <%= image_tag "/images/collections/index/#{token}.jpg", {:alt => collection, :class => class_names.join(' ')} %>
        <div class="cover boxcaption" style="top: 200px;"><%= collection %></div>
      <% end %>
    </div>
    
  <% end %>
</div>

<script>
  $(function () {
  	//Full Caption Sliding (Hidden to Visible)
  	$('.boxgrid.captionfull').hover(function(){
  		$(".cover", this).stop().animate({top:'0px'},{queue:false,duration:0});
  	}, function() {
  		$(".cover", this).stop().animate({top:'200px'},{queue:false,duration:0});
  	});
  });
</script