<div id ="stores">
  
  <h3>Montréal, (Québec)</h3>
  
  <ul class="stores">
    <li>
      <h4>Lustre</h4>
      <div>Boutique + Atelier</div>
      <div><a href="http://lustreboutique.blogspot.com">lustreboutique.blogspot.com</a></div>
      <div>4068, Boulevard St-Laurent, Montréal</div>
      <div>514.288.7661</div>
    </li>

    <li>
      <h4>Boutique Cul-De-Sac</h4>
      <div>371, Mont-Royal, Montréal</div>
      <div>514.303.4781</div>
    </li>
  </ul>
  
  <h3>Québec, (Québec)</h3>
  
  <ul class="stores">

    <li>
      <h4>OCLAN</h4>
      <div><a href="http://www.oclan.net">www.oclan.net</a></div>
      <div>67 1/2, Rue Du Petit-Champlain, Québec</div>
      <div>418.692.1214</div>
    </li>

    <li>
      <h4>Urbain Prêt A Porter</h4>
      <div>996, Avenue Cartier, Québec</div>
      <div>418.521.1571</div>
    </li>

    <li>
      <h4>Océano</h4>
      <div>Bijoux et Accessoires</div>
      <div>1035, Avenue Cartier, Québec</div>
      <div>418.524.3333</div>
    </li>

    <li>
      <h4>Code Vert</h4>
      <div>Mode Éthique Urbaine</div>
      <div><a href="http://www.codevert.ca">www.codevert.ca</a></div>
      <div>586 B, Rue St-Jean, Québec</div>
      <div>418.524.4004</div>
    </li>

    <li>
      <h4>Origines</h4>
      <div>Bijoux, Artisanat</div>
      <div>54, Côte de la Fabrique, Québec</div>
      <div>418.694.9257</div>
    </li>

    <li>
      <h4>Lucia F.</h4>
      <div>Boutique</div>
      <div>422, Rue Caron, Québec</div>
      <div>418.648.9785</div>
    </li>

    <li>
      <h4>Le Saint</h4>
      <div>Artiste Coiffeur | Espace Urbain</div>
      <div>738, Rue St-Joseph Est, Québec</div>
      <div>418.977.2532</div>
    </li>

    <li>
      <h4>Jumbo Jumbo</h4>
      <div>Coiffure d'ère moderne</div>
      <div><a href="http://salonjumbojumbo.com">www.salonjumbojumbo.com</a></div>
      <div>165, Rue St-Jean, Québec</div>
      <div>418.525.8626</div>
    </li>

    <li>
      <h4>Nermin .G</h4>
      <div>Coiffeur Styliste</div>
      <div>330, Rue St-Roch, Québec</div>
    </li>
  </ul>
  
  <h3>Nouveau-Brunswick</h3>
  
  <ul class="stores">
    <li>
      <h4>E-Style</h4>
      <div>Unique European Style Footwear & Fashion</div>
      <div>785, Main Street, Moncton, New-Brunswick</div>
      <div>506.855.3974</div>
    </li>
  </ul>
  
</div>