<div id ="stores">

  <h3>Quebec, (QC)</h3>

  <ul class="stores">

    <li>
      <h4>Jupon Pressé</h4>
      <div><a href="http://www.facebook.com/pages/Jupon-Press%C3%A9/116126078409453">Facebook Page</a></div>
      <div>790, Rue Saint-Jean, Quebec</div>
      <div>418.704.7114</div>
    </li>

    <li>
      <h4>OCLAN</h4>
      <div><a href="http://www.oclan.net">www.oclan.net</a></div>
      <div>67 1/2, Rue Du Petit-Champlain, Quebec</div>
      <div>418.692.1214</div>
    </li>

    <li>
      <h4>Lucia F.</h4>
      <div>Boutique</div>
      <div><a href="http://www.facebook.com/pages/Boutique-Lucia-F/145974735433987">Facebook Page</a></div>
      <div>422, Rue Caron, Quebec</div>
      <div>418.648.9785</div>
    </li>

    <li>
      <h4>Miss Vanille</h4>
      <div><a href="http://www.facebook.com/pages/Miss-Vanille/204774136216413">Facebook Page</a></div>
      <div>113, Rue St-Paul, Quebec</div>
      <div>418.614.6660</div>
    </li>

  </ul>

  <h3>Montreal, (QC)</h3>

  <ul class="stores">
    <li>
      <h4>Lustre</h4>
      <div>Atelier + Boutique</div>
      <div><a href="http://lustreboutique.blogspot.com">lustreboutique.blogspot.com</a></div>
      <div>4068, St-Laurent Boulevard, Montreal</div>
      <div>514.288.7661</div>
    </li>

    <li>
      <h4>Il était deux fois</h4>
      <div><a href="http://www.iletaitdeuxfois.com">www.iletaitdeuxfois.com</a></div>
      <div>514.692.6149</div>
      <div>Plateau Mont-Royal:</div>
      <div>4539 boul. St-Laurent, Montreal</div>
      <div>Old Port of Montreal:</div>
      <div>Boutique #17 - Quay King Edward (Next to Science Center)</div>
    </li>
  </ul>

</div>
