<div id ="stores">
  
  <h3>Montréal, (Québec)</h3>
  
  <ul class="stores">
    <li>
      <h4>Lustre</h4>
      <div>atelier + boutique</div>
      <div><a href="http://lustreboutique.blogspot.com">lustreboutique.blogspot.com</a></div>
      <div>4068, Boulevard St-Laurent, Montréal</div>
      <div>514.288.7661</div>
    </li>

    <li>
      <h4>Cul-De-Sac</h4>
      <div><a href="http://www.facebook.com/pages/CUL-DE-SAC/163913281532">Page Facebook</a></div>
      <div>371, Mont-Royal, Montréal</div>
      <div>514.303.4781</div>
    </li>
  </ul>
  
  <h3>Québec, (Québec)</h3>
  
  <ul class="stores">

    <li>
      <h4>Jupon Pressé</h4>
      <div><a href="http://www.facebook.com/pages/Jupon-Press%C3%A9/116126078409453">Page Facebook</a></div>
      <div>790, Rue Saint-Jean, Quebec</div>
      <div>418.704.7114</div>
    </li>

    <li>
        <h4>Novo</h4>
        <div>Designers de mode québécois et internationaux</div>
        <div><a href="http://www.boutiquenovo.com">www.boutiquenovo.com</a></div>
        <div><a href="http://www.facebook.com/pages/Novo/135401286508326">Page Facebook</a></div>
        <div>708, Rue St-Joseph Est, Québec</div>
        <div>418.614.8098</div>
    </li>

    <li>
      <h4>OCLAN</h4>
      <div><a href="http://www.oclan.net">www.oclan.net</a></div>
      <div>67 1/2, Rue Du Petit-Champlain, Québec</div>
      <div>418.692.1214</div>
    </li>

    <li>
      <h4>Urbain Prêt À Porter</h4>
      <div><a href="http://www.facebook.com/pages/Urbain-Pr%C3%AAt-%C3%80-Porter/169618426390182">Page Facebook</a></div>
      <div>996, Avenue Cartier, Québec</div>
      <div>418.521.1571</div>
    </li>

    <li>
      <h4>Océano</h4>
      <div>Bijoux et Accessoires</div>
      <div>1035, Avenue Cartier, Québec</div>
      <div>418.524.3333</div>
    </li>

    <li>
      <h4>Code Vert</h4>
      <div>Mode Éthique Urbaine</div>
      <div><a href="http://www.codevert.ca">www.codevert.ca</a></div>
      <div>586 B, Rue St-Jean, Québec</div>
      <div>418.524.4004</div>
    </li>

    <li>
      <h4>Origines</h4>
      <div>Bijoux, Artisanat</div>
      <div>54, Côte de la Fabrique, Québec</div>
      <div>418.694.9257</div>
    </li>

    <li>
      <h4>Lucia F.</h4>
      <div>Boutique</div>
      <div><a href="http://www.facebook.com/pages/Boutique-Lucia-F/145974735433987">Page Facebook</a></div>
      <div>422, Rue Caron, Québec</div>
      <div>418.648.9785</div>
    </li>

    <li>
      <h4>Le Saint</h4>
      <div>Artiste Coiffeur | Espace Urbain</div>
      <div><a href="http://www.facebook.com/pages/Coiffure-le-Saint/149278301795729">Page Facebook</a></div>
      <div>738, Rue St-Joseph Est, Québec</div>
      <div>418.977.2532</div>
    </li>

    <li>
      <h4>Miss Vanille</h4>
      <div><a href="http://www.facebook.com/pages/Miss-Vanille/204774136216413">Page Facebook</a></div>
      <div>113, Rue St-Paul, Quebec</div>
      <div>418.614.6660</div>
    </li>

    <!--
    <li>
      <h4>Jumbo Jumbo</h4>
      <div>Coiffure d'ère moderne</div>
      <div><a href="http://salonjumbojumbo.com">www.salonjumbojumbo.com</a></div>
      <div>165, Rue St-Jean, Québec</div>
      <div>418.525.8626</div>
    </li>
    -->

    <li>
      <h4>Nermin .G</h4>
      <div>Styliste</div>
      <div>330, Rue St-Roch, Québec</div>
    </li>
  </ul>
  
  <h3>Drummondville (Québec)</h3>
  
  <ul class="stores">
    <li>
      <h4>JennyJane</h4>
      <div>168 rue Hériot, Drummondville</div>
      <div>819.472.8171</div>
    </li>
    <li>
        <h4>Le Local by J. Jane</h4>
        <div>Boutique urbaine</div>
        <div>158 rue Hériot, Drummondville</div>
        <div>819.850.2233</div>
    </li>
  </ul>

  <h3>Nouveau-Brunswick</h3>
  
  <ul class="stores">
    <li>
      <h4>E-Style</h4>
      <div>Unique European Style Footwear &amp; Fashion</div>
      <div>785, Main Street, Moncton, Nouveau-Brunswick</div>
      <div>506.855.3974</div>
    </li>
  </ul>
  
</div>
