<div id ="stores">

  <h3>Montreal, (QC)</h3>

  <ul class="stores">
    <li>
      <h4>Lustre</h4>
      <div>Atelier + Boutique</div>
      <div><a href="http://lustreboutique.blogspot.com">lustreboutique.blogspot.com</a></div>
      <div>4068, St-Laurent Boulevard, Montreal</div>
      <div>514.288.7661</div>
    </li>

    <li>
      <h4>Il était deux fois</h4>
      <div><a href="http://www.iletaitdeuxfois.com">www.iletaitdeuxfois.com</a></div>
      <div>514.692.6149</div>
      <div>Plateau Mont-Royal:</div>
      <div>4539 boul. St-Laurent, Montreal</div>
      <div>Old Port of Montreal:</div>
      <div>Boutique #17 - Quay King Edward (Next to Science Center)</div>
    </li>

    <li>
      <h4>Maillagogo</h4>
      <div><a href="http://maillagogo.com">maillagogo.com</a></div>
      <div>337, De Castelnau East, Montreal</div>
      <div>514.495.4089</div>
    </li>
  </ul>

  <h3>Quebec, (QC)</h3>

  <ul class="stores">

    <li>
      <h4>Jupon Pressé</h4>
      <div><a href="http://www.facebook.com/pages/Jupon-Press%C3%A9/116126078409453">Facebook Page</a></div>
      <div>790, Rue Saint-Jean, Quebec</div>
      <div>418.704.7114</div>
    </li>

    <li>
        <h4>Novo</h4>
        <div>Designers de mode québécois et internationaux</div>
        <div><a href="http://www.boutiquenovo.com">www.boutiquenovo.com</a></div>
        <div>708, Rue St-Joseph Est, Quebec</div>
        <div>418.614.8098</div>
    </li>

    <li>
      <h4>OCLAN</h4>
      <div><a href="http://www.oclan.net">www.oclan.net</a></div>
      <div>67 1/2, Rue Du Petit-Champlain, Quebec</div>
      <div>418.692.1214</div>
    </li>

    <li>
      <h4>Urbain Prêt À Porter</h4>
      <div><a href="http://www.facebook.com/pages/Urbain-Pr%C3%AAt-%C3%80-Porter/169618426390182">Facebook Page</a></div>
      <div>996, Avenue Cartier, Quebec</div>
      <div>418.521.1571</div>
    </li>

    <li>
      <h4>Origines</h4>
      <div>Jewelry, Crafts</div>
      <div>54, Côte de la Fabrique, Quebec</div>
      <div>418.694.9257</div>
    </li>

    <li>
      <h4>Lucia F.</h4>
      <div>Boutique</div>
      <div><a href="http://www.facebook.com/pages/Boutique-Lucia-F/145974735433987">Facebook Page</a></div>
      <div>422, Rue Caron, Quebec</div>
      <div>418.648.9785</div>
    </li>

    <li>
      <h4>Le Saint</h4>
      <div>Artiste Coiffeur | Espace Urbain</div>
      <div><a href="http://www.facebook.com/pages/Coiffure-le-Saint/149278301795729">Facebook Page</a></div>
      <div>738, Rue St-Joseph Est, Quebec</div>
      <div>418.977.2532</div>
    </li>

    <li>
      <h4>Miss Vanille</h4>
      <div><a href="http://www.facebook.com/pages/Miss-Vanille/204774136216413">Facebook Page</a></div>
      <div>113, Rue St-Paul, Quebec</div>
      <div>418.614.6660</div>
    </li>

  </ul>

  <h3>Drummondville, (QC)</h3>

  <ul class="stores">
    <li>
      <h4>JennyJane</h4>
      <div>168 rue Hériot, Drummondville</div>
      <div>819.472.8171</div>
    </li>
    <li>
        <h4>Le Local by J. Jane</h4>
        <div>Boutique urbaine</div>
        <div>158 rue Hériot, Drummondville</div>
        <div>819.850.2233</div>
    </li>
  </ul>

  <h3>New Brunswick</h3>

  <ul class="stores">
    <li>
      <h4>E-Style</h4>
      <div>Unique European Style Footwear &amp; Fashion</div>
      <div>785, Main Street, Moncton, New-Brunswick</div>
      <div>506.855.3974</div>
    </li>
  </ul>

</div>
