<div id ="stores">

  <h3>Québec, (Québec)</h3>

  <ul class="stores">

    <li>
      <h4>Jupon Pressé</h4>
      <div><a href="http://www.facebook.com/pages/Jupon-Press%C3%A9/116126078409453">Page Facebook</a></div>
      <div>790, Rue Saint-Jean, Quebec</div>
      <div>418.704.7114</div>
    </li>

    <li>
      <h4>OCLAN</h4>
      <div><a href="http://www.oclan.net">www.oclan.net</a></div>
      <div>67 1/2, Rue Du Petit-Champlain, Québec</div>
      <div>418.692.1214</div>
    </li>

    <li>
      <h4>Lucia F.</h4>
      <div>Boutique</div>
      <div><a href="http://www.facebook.com/pages/Boutique-Lucia-F/145974735433987">Page Facebook</a></div>
      <div>422, Rue Caron, Québec</div>
      <div>418.648.9785</div>
    </li>

    <li>
      <h4>Miss Vanille</h4>
      <div><a href="http://www.facebook.com/pages/Miss-Vanille/204774136216413">Page Facebook</a></div>
      <div>113, Rue St-Paul, Quebec</div>
      <div>418.614.6660</div>
    </li>

  </ul>


</div>
