html, body { color: #888; height: 100%; }

.hidden { position: absolute; left: -9000px; top: -9000px; }

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -30px; /* the bottom margin is the negative value of the footer's height */
}

#facebook-small {
    display: inline-block;
    height: 15px;
    line-height: 15px;
    vertical-align: middle;
}

#ft, .push {
	height: 30px; /* .push must be the same height as .footer */
}

#ft { text-align: center; }
#bd { margin-bottom: 5em; }

#doc3 { margin: auto 0; }
.site-content { width: 750px; margin: 0 auto; }

#hd { background-color: #FFFFFF; height: 227px; padding-top: 16px; }

a { text-decoration: none; outline: 0; }
a:hover { text-decoration: underline; }
a { color: #665847; }

ul li { list-style: none; }

h1, h2, h3, h4, h5, h6 { color: #3D362D; }
h2 { font-family: 'Quicksand', sans-serif; font-weight: normal; text-transform: uppercase; text-align: center; }


td, th { border: 0; text-align: left; }

#logo { background: url("/images/logo.jpg") no-repeat scroll 0 0 transparent; width: 419px; height: 130px; margin-left: auto; margin-right: auto; }
#logo a { display: block; height: 100%; overflow: hidden; text-indent: -9999em; width: 100%; }

#home { padding-top: 200px; }

#main-menu { font-size: 167.5%; text-align: center; color: #888; }
#main-menu ul { margin: 1em 0; }
#main-menu ul li { display: inline; margin: 0 0.4em; font-family: 'Quicksand', sans-serif; }

#collections { display: inline-block; width: 100%; }
.collection-thumb { width: 200px; height: 200px; float: left; margin: 0 25px 50px 25px; position: relative; }
.collection-thumb a { display: block; width: 200px; height: 200px; }
.collection-thumb a img { display: block; position: absolute; top:0; left:0; z-index: 3; }

a.etsy {
  display: inline-block;
  padding-left: 38px;
  height: 32px;
  line-height: 32px;
  background: transparent url('/images/etsy.png') no-repeat left 50%;
  color: #C94E00;
}

#pic-title { font-family: 'Quicksand', sans-serif; font-weight: normal; font-size: 138.5%; margin: 1em 0 0 0; line-height: 1em; text-align: center; }
#pic-title.standalone { text-align: left; margin-top: 0; }
#more-details, #less-details { text-align: center; margin: 0 auto 1.5em auto; }
#pic-description, #product-availability { font-style: italic; color: #888; }

#collection-name { margin-bottom: 0; }
#details { position: relative; margin-bottom: 0.5em; padding: 0.5em; border-top: 1px dotted #999; border-bottom: 1px dotted #999; }
#pic-title, #pic-description { }
#details a.etsy { position: absolute; bottom: 0.5em; right: 0.5em; }
/*#related-pics { display: inline-block; width: 75%; }*/
#related-pics { display: inline-block; width: 100%; }
#related-pics img { border: 1px solid #888; display: block; float: left; margin-right: 4px; }

#large-pic { text-align: center; min-height: 750px; }
a.large-pic img { display: block;  margin: auto; }
#collection { display: inline-block; width: 100%; height: 500px; }
#credits { text-align: center; color: #888; font-size: 85%; margin-top: 0.25em; }
#store { width: 248px; margin: 0 auto; }
#stores h3 { border-bottom: 1px dotted #333; }
ul.stores {
  display: inline-block;
  width: 100%;
  float: left;
  margin-top: 2em;
}
ul.stores li {
  float: left;
  width: 33%;
  min-height: 120px;
}
ul.stores li div {
  font-size: 93%;
}

/* Galleria */
.galleria-thumbnails { margin: auto; }
#bd .galleria-container { background-color: #FFFFFF; }
#bd .galleria-stage { background-color: #FFFFFF; top: 0; left: 0; right: 0;}

/* CSS3 */
.galleria-container, .collection-thumb, #large-pic { -moz-border-radius: 4px; border-radius: 4px; }


/* BoxGrid */
a.captionfull:hover { text-decoration: none; }

.boxgrid{
	overflow: hidden;
	position: relative;
}
.boxcaption {
  color: #888;
  font-family: 'Quicksand', sans-serif;
  padding: 76px 10px 0 10px;
  cursor: pointer;
  text-align: center; 
	float: left;
	position: absolute;
	z-index: 2;
	background: #888;
	height: 124px; /* 200 - 76 */
	-moz-border-radius: 4px; border-radius: 4px;
	width: 180px; /* 200 - 10*2 */
}
.captionfull .boxcaption {
	top: 0;
	left: 0;
}
.caption .boxcaption {
	top: 0;
	left: 0;
}

#pagination {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}
