html, body { color: #333; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }
a { color: #FF0000; }

h2 { font-family: Baskerville, ‘Times New Roman’, Times, serif; font-style: italic; font-weight: normal; font-size: 300%; }

td, th { border: 0; text-align: left; }

#main-menu { text-align: right; }
#main-menu ul { margin: 1em 0; }
#main-menu ul li { font-family: Baskerville, ‘Times New Roman’, Times, serif; list-style: none; display: inline-block; margin: 0 0.4em; font-size: 138.5%; font-style: italic;}
#main-menu.big-menu ul { display: inline-block; }
#main-menu.big-menu ul li { font-size: 197%; }
#main-menu.big-menu { text-align: center; margin-top: 30%; }

#hd h1 { float: left; }
#hd #main-menu { float: right; margin-top: 16px; }

#ft { text-align: center; padding-top: 3em;}

/* Temporary hacks */
a.collection-thumb {
  display: inline-block;
  width: 33.3%;
  text-align: center;
}

a.large-pic, a.large-pic img {
  display: block;
  float: left;
}

a.etsy {
  display: inline-block;
  padding-left: 38px;
  height: 32px;
  line-height: 32px;
  background: transparent url('/images/etsy.png') no-repeat left 50%;
  color: #C94E00;
}

#collection-name, #pic-title{ margin: 0; }
#collection-name { margin-bottom: 0.5em; text-align: center; }
#pic-title, #pic-description { padding-left: 38px; }
#pic-title { /*font-weight: normal;*/ }
#pic-description { font-style: italic; color: #666; }
#etsy { font-weight: normal; }

#details {
  width: 305px; /* max is 323 - 12(padding) */
  float: left;
  padding-left: 12px;
}

#collection {
   width: 57.69em;
   height: 500px;
}
