html, body {}

a { text-decoration: none; }
a:hover { text-decoration: underline; }

#main-menu {}
#main-menu a, #hd a, #ft a { color: #000; }
#main-menu a:hover {}
#main-menu a:active {}
#main-menu a:visited {}
#main-menu ul li { font-family: Baskerville, ‘Times New Roman’, Times, serif; list-style: none; display: inline-block; margin: 0 0.4em; font-size: 138.5%; font-style: italic;}
#main-menu.big-menu ul { display: inline-block; }
#main-menu.big-menu ul li { font-size: 197%; }
#main-menu.big-menu { text-align: center; margin-top: 30%; }

#ft { text-align: center; }