<p>
December 13, 1995. Barely 18, Arnela Pandzic arrives in Québec. A refugee from the war that has torn her native Yugoslavia, she comes here with an unshakable belief, arising from hardship and horror, that nothing can snatch away from life its immeasurable beauty. A beauty both savage and delicate, which finds expression in her creations.
</p>

<p>
A self-taught artist in Québec, and having studied visual arts in her native country, she pursues her studies at Campus Notre-Dame-de-Foy to become a fashion designer. A painter, a life’s poet, she infuses her jewellery with an artistic spark that makes them into unique creations, each one telling a different story.
</p>

<p>
Finding her inspiration in nature, she creates collections that espouse the seasonal rhythms. Her aesthetic, certainly vintage, is delightfully disarrayed, yet it still maintains a graceful harmony of colours and a balanced composition. She provides a second life to noble recycled materials, such as silk and fur, as well as fabrics, lacework, and pieces of jewellery rescued from second hand shops, into which she blends feathers boasting daring and bright colours.
</p>

<p>
A novel signature, which will resonate with all women. Stylish, romantic, nonconformist, classic, seductress, sentimental… which will you be?
</p>