<p>
  13 décembre 1995. À l’aube de ses 18 ans, Arnela Pandzic arrive au Québec. Réfugiée de la guerre qui a fracassé son pays, la Yougoslavie, elle débarque ici avec cette conviction, acquise au coeur de la détresse et de l’horreur, que rien ne peut arracher à l’existence son incommensurable beauté. Une beauté à la fois sauvage et délicate qui s’exprime dans ses créations.
</p>
 
<p>
  Ayant étudié les arts visuels dans son pays d’origine, artiste autodidacte au Québec, elle retourne à l’école apprendre le métier de designer de mode au Campus Notre-Dame-de-Foy. Peintre, poétesse de l’existence, elle insuffle à ses bijoux cette étincelle artistique qui en font des créations uniques, chacune racontant une histoire différente.
</p>
 
<p>
  Inspirée par la nature, elle crée des collections au rythme des saisons. Son esthétique, vintage, est délicieusement éclatée, sans pour autant perdre la grâce de l’harmonie des couleurs et de l’équilibre de la composition. Elle redonne vie à des matières nobles recyclées telles que la soie, la fourrure, les étoffes, dentelles et bijoux sauvés de chez la brocante, auxquelles elle intègre des plumes aux couleurs audacieuses et pimpantes.
</p>

<p>
  Une signature originale, qui s’adresse à toutes les femmes. Chic, romantique, anticonformiste, clasique, femme fatale, fleur bleue... laquelle serez-vous?
</p>