<h2><%= t('menu.about') %></h2>

<%= render :partial => 'index_' + I18n.locale.to_s.gsub(/-/,'_') %>

<h3><%= t('contact_me') %></h3>

Arnela Pandzic<br />
<a href="mailto:arnelapandzic@gmail.com">info@arnela.ca</a><br />
<br />
<iframe src="http://www.facebook.com/plugins/like.php?locale=<%=facebook_locale%>&amp;href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FArnela-Pandzic-design%2F161247930578199&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:30px;" allowTransparency="true"></iframe>
