<ul>
  <li>
    <%= link_to t('menu.collections'), :collections %>
  </li>
  <li>
    <%= link_to t('menu.stores'), :stores %>
  </li>
  <li>
    <%= link_to t('menu.about'), :about %>
  </li>
  <li>
    <%= link_to t('menu.blog'), 'http://blog.arnela.ca' %>
  </li>
</ul>
