<!DOCTYPE html>
<html>
<head>
  <title>Arnela Pandzic design | <%= t("title.#{controller_name}.#{action_name}", {:name => @name}) %> </title>
  <%= stylesheet_link_tag 'http://yui.yahooapis.com/2.8.2r1/build/reset/reset-min.css', 'http://yui.yahooapis.com/2.8.2r1/build/fonts/fonts-min.css' %>
  <%= stylesheet_link_tag 'base', 'app' %>
</head>
<body>
  <%= yield %>
</body>
</html>
